include LICENSE
include README.md
include CHANGELOG.md
include requirements.txt
include fastlsq/py.typed
recursive-include examples *.py
recursive-include tests *.py
recursive-exclude * __pycache__
recursive-exclude * *.pyc
